#titre{
    background-color: grey;
    border: 2px black groove;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgb(78, 74, 74);
    text-align: center;
    



}
.section{
    background-color: rgb(206, 197, 197);
    border: 2px black solid;
    box-shadow: 5px 5px 6px rgb(90, 89, 89);
    margin-top: 20px;
    margin-bottom:20px;
}
.nav{
    background-color: rgb(128, 8, 8);
    border: 2px black solid;
    border-radius: 10px;
    color:rgb(192, 189, 189);
    
}
.foot{
    background-color: rgb(116, 5, 5);
    border: 2px black solid;
    border-radius: 10px;
    color: rgb(192, 189, 189);

}
#img{
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgb(90, 89, 89);
    width:350px;
    


}
#text1{
    text-shadow: 2px 2px 4px black;
    width: 250px;
    height: 110px;
    text-align: justify;
    min-width: 400px;
    padding: 12px;
    border: 2px black solid;
    margin-left:10px;
    overflow: auto;
    background-color: white;
}
#text2{
    background-color: white;
    text-align: justify;
    border-radius: 10px;
    margin:5px;
    padding:5px;
}
h1{
    font-family: Times New Roman, Times, serif;
    padding: 12px;
    

}
h3{
    
    margin-left:140px;
    font-style: italic;
   
}
a{
    color: rgb(192, 189, 189);
}
#conteneur{
    border: 2px black solid;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 850px;
}
.element:nth-child(2){
    background-color: blue;
    flex: 2;


}
.element:nth-child(1){
    background-color: green;
    flex:2;
}
.element{
    background-color: burlywood;
    width:250px;
    height:250px;
}
table{
    border-collapse: collapse;
    margin: 20px;
    background-color: rgb(223, 219, 219);
}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    background-color: rgb(116, 5, 5);
    color:rgb(192, 189, 189);
}
   
